<!DOCTYPE html>
<html>
  <head>
    <title>Utilizecore Trip Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <div id="session" style="display: none" data-current-user-id="<%= @current_user.id %>"></div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
